# Special Offer Cleaning

Cleaning the special offer dataset in preparation for baseline modeling.

## Package Import

In [60]:
import pandas as pd
import numpy as np
import matplotlib
import matplotlib.pyplot as plt
import seaborn as sns
import re #regex

%matplotlib inline

## Data Import & Cleaning

In [61]:
df = pd.read_csv("spec_offer_train.csv")

In [62]:
df.head()

,subject,spec_offer,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,"M. Frank, explore courses to prepare for your ...",1,NaN,1.0,2116.0
1,FREE SHIPPING on 1000s of styles 50xe2x80x9370...,1,NaN,0.0,1789.0
2,"Dress up/down khaki shorts xe2x80x94BTW, every...",1,NaN,NaN,NaN
3,Last chance! Free shipping + 50xe2x80x9370% of...,1,NaN,NaN,NaN
4,Fw: [External Email]Moms Climb for Free to Cel...,1,NaN,NaN,NaN

In [63]:
df = df.drop(columns=['Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4'])

In [64]:
df.head()

                                             subject  spec_offer
0  M. Frank, explore courses to prepare for your ...           1
1  FREE SHIPPING on 1000s of styles 50xe2x80x9370...           1
2  Dress up/down khaki shorts xe2x80x94BTW, every...           1
3  Last chance! Free shipping + 50xe2x80x9370% of...           1
4  Fw: [External Email]Moms Climb for Free to Cel...           1

# Remove leftover b from bytes object

In [65]:
df.subject[29].startswith('b')

True

In [66]:
df.subject[29][0]

'b'

In [67]:
df.subject[29]

'bFree shipping on everythingxe2x80x94and its all 50% off'

In [68]:
df.subject[29].replace('b','',1)

'Free shipping on everythingxe2x80x94and its all 50% off'

In [69]:
df[df.subject.str.startswith('b') == True]

                                                subject  spec_offer
29    bFree shipping on everythingxe2x80x94and its a...           1
33    bClocks ticking: 50% off everything + free shi...           1
51                  bWhats better than food? FREE food!           1
166         bIts back: 20% off everything! xf0x9fx8ex89           1
177   bxe2x8fxb3xe2x8cx9b Times running out! Online ...           1
...                                                 ...         ...
4063              bMeet this years Top 20 DIY Costumes!           0
4086                          bThese rewards wont last!           1
4133  bMatthew, heres how your FICOxc2xae Score is a...           0
4194          bOkay, heres the deal with ink and toner            0
4208                      bNows the time to stock up on           0

[128 rows x 2 columns]

In [70]:
for i in df.index:
    if df.subject[i].startswith('b') == True:
        df.at[i, 'subject'] = df.subject[i].replace("b",'',1)
    else:
        pass

In [71]:
df[df.subject.str.startswith('b') == True]

Empty DataFrame
Columns: [subject, spec_offer]
Index: []

## Advanced Emoji Cleaning

In [72]:
emoji_lib = pd.read_csv("emoji_lib_expanded.csv")

In [73]:
emoji_lib.head()

,hex_codepoint,status,emoji,e_version,description,utf8_bytes,utf8_str,utf8_clean,unicode_bytes,unicode_str
0,1F600,fully-qualified,üòÄ,E1.0,grinning face,b'\xf0\x9f\x98\x80',\xf0\x9f\x98\x80,xf0x9fx98x80,b'\\U0001f600',\\U0001f600
1,1F603,fully-qualified,üòÉ,E0.6,grinning face with big eyes,b'\xf0\x9f\x98\x83',\xf0\x9f\x98\x83,xf0x9fx98x83,b'\\U0001f603',\\U0001f603
2,1F604,fully-qualified,üòÑ,E0.6,grinning face with smiling eyes,b'\xf0\x9f\x98\x84',\xf0\x9f\x98\x84,xf0x9fx98x84,b'\\U0001f604',\\U0001f604
3,1F601,fully-qualified,üòÅ,E0.6,beaming face with smiling eyes,b'\xf0\x9f\x98\x81',\xf0\x9f\x98\x81,xf0x9fx98x81,b'\\U0001f601',\\U0001f601
4,1F606,fully-qualified,üòÜ,E0.6,grinning squinting face,b'\xf0\x9f\x98\x86',\xf0\x9f\x98\x86,xf0x9fx98x86,b'\\U0001f606',\\U0001f606

In [74]:
def emoji_in_num_name(df, emoji_lib):
    """
    Identifies emojis in utf-8 codepoints, unicode codepoints or native format and creates new emoji features in your df.
    
    Input: DataFrame with 'subject' feature
    
    Output: New DataFrame with three new features.
        - 'emoji_in': True is an emoji is present in the subject, else False
        - 'emoji_num': the number of emojis in the subject, 0 is no emoji is present
        - 'emoji_name': the names of the emojis in the subject, 'None' if no emoji is present
    
    """
    
    # check each subject line if it contains an emoji listed in the library.
    # add all emojis to a dataframe called emojis
    for i in df.index:
        utf_8 = [ele for ele in emoji_lib['utf8_clean'] if(ele in df.subject[i])]
        native = [ele for ele in emoji_lib['emoji'] if(ele in df.subject[i])]
        emojis = pd.DataFrame(set(utf_8 + native), columns = ['emo'])
        
        # check the length of emoji list to create a new feature called 'emoji-in' that contains:
        # False if no emoji is in a subject line
        # True if an emoji is in a subject line
        if len(emojis['emo']) == 0:
            df.at[i, 'emoji_in'] = False
        else:
            df.at[i, 'emoji_in'] = True
        
        # add the number of emojis in the subject line into a new feature called 'emoji_num'
        df.at[i, 'emoji_num'] = len(emojis['emo'])
        
        #create an empty dataframe that mirrors the emoji library dataset
        emoji_ind = pd.DataFrame(columns = ['hex_codepoint',	'status',	'emoji',	'e_version',	'description',	'utf8_bytes',	'utf8_str',	'utf8_clean',	'unicode_bytes',	'unicode_str'])
        
        # append the rows associated with the subject line emojis to the empty dataframe
        for x in emojis.index:
            emoji_ind = pd.concat([emoji_ind, emoji_lib[emoji_lib['utf8_clean'] == emojis.emo[x]]])

        # grab the names of the emojis and insert as a string into a new feature called 'emoji_name'
        df.at[i, 'emoji_name'] = str(list(emoji_ind['description']))
        
        # remove the utf-8 code point from the subject line
        if len(emoji_ind.utf8_clean) == 0:
            pass
        else:
            for y in emoji_ind.index:
                df.at[i, 'subject'] = df.subject[i].replace(emoji_ind.utf8_clean[y], "")
        
        # if there is no emoji name, replace the empty list with 'None'
        # else clean the string emoji names by removing the list brackets.
        if df['emoji_name'][i] == '[]':
            df.at[i, 'emoji_name'] = "None"
        else:
            df.at[i, 'emoji_name'] = df.emoji_name[i].replace('[','')
            df.at[i, 'emoji_name'] = df.emoji_name[i].replace(']','')
                
    return df

In [75]:
df = emoji_in_num_name(df, emoji_lib)

In [76]:
df.head()

,subject,spec_offer,emoji_in,emoji_num,emoji_name
0,"M. Frank, explore courses to prepare for your ...",1,False,0.0,None
1,FREE SHIPPING on 1000s of styles 50xe2x80x9370...,1,False,0.0,None
2,"Dress up/down khaki shorts xe2x80x94BTW, every...",1,False,0.0,None
3,Last chance! Free shipping + 50xe2x80x9370% of...,1,False,0.0,None
4,Fw: [External Email]Moms Climb for Free to Cel...,1,False,0.0,None

In [77]:
df[df.emoji_in == True]

,subject,spec_offer,emoji_in,emoji_num,emoji_name
30,The coziest hoodies + joggers for you xe2x80x...,1,True,2.0,"'rainbow', 'volcano'"
33,Clocks ticking: 50% off everything + free ship...,1,True,1.0,'alarm clock'
65,Your order ships freexe2x80x94no minimum!,1,True,3.0,"'shopping bags', 'shopping bags', 'couch and l..."
73,Last chance! Free shipping + extra 45% off ev...,1,True,1.0,'alarm clock'
81,Deals on deals on deals: free shipping + 60% ...,1,True,3.0,"'shopping bags', 'shopping bags', 'couch and l..."
...,...,...,...,...,...
4196,Health at Home: Have a Hauntingly Healthy Hall...,0,True,1.0,'ghost'
4207,xefxb8x8f The one sentence thatxe2x80x99s made...,0,True,3.0,"'victory hand', 'victory hand', 'raised hand'"
4209,5 See your weekly highlights from Simply Piano,0,True,2.0,"'violin', 'musical note'"
4218,Want a chance to win? 0,1,True,2.0,"'waving hand', 'eyes'"
4225,5 Could you win?,0,True,2.0,"'laptop', 'dollar banknote'"

## UTF-8 Punctuation Cleaning

In [78]:
char_set = pd.read_pickle("spec_chars.pkl")

In [79]:
char_set.head(10)

          type character      utf-8   description
0  punctuation         -  xe2x80x93          dash
1  punctuation         '  xe2x80x99  single quote
2  punctuation               xc2xa0         space
3  punctuation            xefxb8x8f         space
4  punctuation         -  xe2x80x94          dash
5  punctuation         "  xe2x80x9c  double quote
6  punctuation         "  xe2x80x9d  double quote
7  punctuation         ¬¢     xc2xa2         cents
8  punctuation         ‚Ä¶  xe2x80xa6      ellipsis

In [80]:
def char_in_num_name(df, char_set):
    """
    Identifies special characters in utf-8 codepoints and replaces with actual character.
    
    Input: DataFrame with 'subject' feature
    
    Output: New DataFrame with three new features.
        - 'emoji_in': True is an emoji is present in the subject, else False
        - 'emoji_num': the number of emojis in the subject, 0 is no emoji is present
        - 'emoji_name': the names of the emojis in the subject, 'None' if no emoji is present
    
    """
    
    # check each subject line if it contains a special character listed in the library.
    # add all characters to a dataframe called chars
    for i in df.index:
        utf_8 = [ele for ele in char_set['utf-8'] if(ele in df.subject[i])]
        chars = pd.DataFrame(set(utf_8), columns = ['char'])
        
        # check the length of chars list to create a new feature called 'chars-in' that contains:
        # False if no character is in a subject line
        # True if a character is in a subject line
        if len(chars['char']) == 0:
            df.at[i, 'chars_in'] = False
        else:
            df.at[i, 'chars_in'] = True
        
        # add the number of characters in the subject line into a new feature called 'char_num'
        df.at[i, 'char_num'] = len(chars['char'])
        
        #create an empty dataframe that mirrors the character set library dataset
        chars_ind = pd.DataFrame(columns = ['type', 'character', 'utf-8', 'description'])
        
        # append the rows associated with the subject line characters to the empty dataframe
        for x in chars.index:
            chars_ind = pd.concat([chars_ind, char_set[char_set['utf-8'] == chars.char[x]]])

        # grab the names of the characters and insert as a string into a new feature called 'char_name'
        df.at[i, 'char_name'] = str(list(chars_ind['description']))
        
        # replace the utf-8 code point with the actual character from the subject line
        if len(chars_ind['utf-8']) == 0:
            pass
        else:
            for y in chars_ind.index:
                df.at[i, 'subject'] = df.subject[i].replace(chars_ind['utf-8'][y], chars_ind['character'][y])
        
        # if there is no character name, replace the empty list with 'None'
        # else clean the string character names by removing the list brackets.
        if df['char_name'][i] == '[]':
            df.at[i, 'char_name'] = "None"
        else:
            df.at[i, 'char_name'] = df.char_name[i].replace('[','')
            df.at[i, 'char_name'] = df.char_name[i].replace(']','')
            
    return df

In [81]:
df = char_in_num_name(df, char_set)

In [82]:
df.head(50)

,subject,spec_offer,emoji_in,emoji_num,emoji_name,chars_in,char_num,char_name
0,"M. Frank, explore courses to prepare for your ...",1,False,0.0,None,False,0.0,None
1,FREE SHIPPING on 1000s of styles 50-70% off,1,False,0.0,None,True,1.0,'dash'
2,"Dress up/down khaki shorts -BTW, everything sh...",1,False,0.0,None,True,1.0,'dash'
3,Last chance! Free shipping + 50-70% off almost...,1,False,0.0,None,True,1.0,'dash'
4,Fw: [External Email]Moms Climb for Free to Cel...,1,False,0.0,None,False,0.0,None
5,Only a Few Hours Left! Get a Free Childrens or...,1,False,0.0,None,False,0.0,None
6,Up to 70% off + FREE shipping,1,False,0.0,None,False,0.0,None
7,Your $40 GapCash gift (and free shipping!),1,False,0.0,None,False,0.0,None
8,Your free meal is waiting,1,False,0.0,None,False,0.0,None
9,"M. Frank, redeem these three (3) unlocked cour...",1,False,0.0,None,False,0.0,None
10,Free Gapcash!,1,False,0.0,None,False,0.0,None
11,Don't miss out: Download GTA Online for Free e...,1,False,0.0,None,True,1.0,'single quote'
12,Ending Soon! Pre-Order and Get a Free Book Credit,1,False,0.0,None,False,0.0,None
13,Your $40 in free GapCash (use it before it exp...,1,False,0.0,None,False,0.0,None
14,Your free GapCash expires today,1,False,0.0,None,False,0.0,None
15,Check out our free beginner-friendly events th...,1,False,0.0,None,False,0.0,None
16,You have a FREE UPGRADE waiting!,1,False,0.0,None,False,0.0,None
17,Tees for days (everything ships free),1,False,0.0,None,False,0.0,None
18,YOUR ORDER SHIPS FREE,1,False,0.0,None,False,0.0,None
19,Attend a free Q&A event with Senior Data Scien...,1,False,0.0,None,False,0.0,None
20,REMINDER: Get a Free Upgrade on your next rental!,1,False,0.0,None,False,0.0,None
21,New henley tees in all the colors (just for y...,1,False,0.0,None,False,0.0,None
22,Get free shipping while you still can!,1,False,0.0,None,False,0.0,None
23,Tees for everyone from $13! (and your order s...,1,False,0.0,None,False,0.0,None
24,Did you know your order ships free? No minimum,1,False,0.0,None,False,0.0,None
25,The latest khaki shorts we love (last chance ...,1,False,0.0,None,False,0.0,None
26,Last chance for free shipping on your order!,1,False,0.0,None,False,0.0,None
27,Pre-Order and Get a Free Book Credit,1,False,0.0,None,False,0.0,None
28,Everything (everything everything) ships free,1,False,0.0,None,False,0.0,None
29,Free shipping on everything-and its all 50% off,1,False,0.0,None,True,1.0,'dash'
30,The coziest hoodies + joggers for you -and yo...,1,True,2.0,"'rainbow', 'volcano'",True,1.0,'dash'
31,Extra 10% off + free shipping? Yes please,1,False,0.0,None,False,0.0,None
32,Free shipping + 50% off everything,1,False,0.0,None,False,0.0,None
33,Clocks ticking: 50% off everything + free ship...,1,True,1.0,'alarm clock',False,0.0,None
34,Free shipping - NEW ARRIVALS,1,False,0.0,None,False,0.0,None
35,FREE SHIPPING,1,False,0.0,None,False,0.0,None
36,Your order ships free (last chance!),1,False,0.0,None,False,0.0,None
37,"Buy 1, Get 2 Free Layflat Photo Books.",1,False,0.0,None,False,0.0,None
38,Free shipping ends in 12 hours,1,False,0.0,None,False,0.0,None
39,50-70% OFF & FREE SHIPPING,1,False,0.0,None,True,1.0,'dash'
40,Latest in linen (and your order ships free!),1,False,0.0,None,False,0.0,None
41,Your order? It ships for free now,1,False,0.0,None,False,0.0,None
42,Get a Free Book Credit With Select New Conditi...,1,False,0.0,None,False,0.0,None
43,Free shipping + 50-70% off (but not for long),1,False,0.0,None,True,1.0,'dash'
44,Up to $25 off tastes so sweet. Can we just say...,1,False,0.0,None,False,0.0,None
45,Deals on deals: Free shipping + 50-70% off + e...,1,False,0.0,None,True,1.0,'dash'
46,Online extension ends in 12 hours: 50-70% off ...,1,False,0.0,None,True,1.0,'dash'
47,6/8 FREE EVENT! Our experts answer your questi...,1,False,0.0,None,False,0.0,None
48,run a free scan to see if your info is exposed,1,False,0.0,None,False,0.0,None
49,Download 2 free audiobooks today,1,False,0.0,None,False,0.0,None

In [84]:
df.to_csv('spec_offer_train_cleaned.csv', index=False)

## Check Datatypes

In [85]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4229 entries, 0 to 4228
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   subject     4229 non-null   object
 1   spec_offer  4229 non-null   int64
 2   emoji_in    4229 non-null   object
 3   emoji_num   4229 non-null   float64
 4   emoji_name  4229 non-null   object
 5   chars_in    4229 non-null   object
 6   char_num    4229 non-null   float64
 7   char_name   4229 non-null   object
dtypes: float64(2), int64(1), object(5)
memory usage: 264.4+ KB

In [86]:
type(df.subject[0])

str

In [87]:
type(df.spec_offer[0])

numpy.int64

In [88]:
df['spec_offer'] = df['spec_offer'].astype(int)

In [89]:
type(df.spec_offer[0])

numpy.int64

## Remove Unnecessary Spaces

Removing spaces at the beginning and end of each subject line.

In [90]:
df.subject = df.subject.str.strip()

Removing spaces surrounding punction marks.

In [91]:
def pun_before(text):
    updated = re.sub(r"\s([?.!‚Äô,:\s|$])", r"\1", text)
    return updated

def pun_after(text):
    updated = re.sub(r'''([‚Äô])\s''', r'\1', text)
    return updated

def fix_pun(text):
    before = pun_before(text)
    after = pun_after(before)
    return after

In [92]:
df['subject'] = df.subject.apply(fix_pun)

## Lowercase

In [93]:
df['subject'] = df['subject'].apply(lambda x: x.lower())

In [94]:
df.head()

,subject,spec_offer,emoji_in,emoji_num,emoji_name,chars_in,char_num,char_name
0,"m. frank, explore courses to prepare for your ...",1,False,0.0,None,False,0.0,None
1,free shipping on 1000s of styles 50-70% off,1,False,0.0,None,True,1.0,'dash'
2,"dress up/down khaki shorts -btw, everything sh...",1,False,0.0,None,True,1.0,'dash'
3,last chance! free shipping + 50-70% off almost...,1,False,0.0,None,True,1.0,'dash'
4,fw: [external email]moms climb for free to cel...,1,False,0.0,None,False,0.0,None

## Expand Contractions

In [95]:
cList = {
"ain‚Äôt": "is not",
"aren‚Äôt": "are not",
"can‚Äôt": "cannot",
"can‚Äôt‚Äôve": "cannot have",
"‚Äôcause": "because",
"could‚Äôve": "could have",
"couldn‚Äôt": "could not",
"couldn‚Äôt‚Äôve": "could not have",
"didn‚Äôt": "did not",
"doesn‚Äôt": "does not",
"don‚Äôt": "do not",
"hadn‚Äôt": "had not",
"hadn‚Äôt‚Äôve": "had not have",
"hasn‚Äôt": "has not",
"haven‚Äôt": "have not",
"he‚Äôd": "he would",
"he‚Äôd‚Äôve": "he would have",
"he‚Äôll": "he will",
"he‚Äôll‚Äôve": "he he will have",
"he‚Äôs": "he is",
"how‚Äôd": "how did",
"how‚Äôd‚Äôy": "how do you",
"how‚Äôll": "how will",
"how‚Äôs": "how is",
"I‚Äôd": "I would",
"I‚Äôd‚Äôve": "I would have",
"I‚Äôll": "I will",
"I‚Äôll‚Äôve": "I will have",
"I‚Äôm": "I am",
"I‚Äôve": "I have",
"i‚Äôd": "i would",
"i‚Äôd‚Äôve": "i would have",
"i‚Äôll": "i will",
"i‚Äôll‚Äôve": "i will have",
"i‚Äôm": "i am",
"i‚Äôve": "i have",
"isn‚Äôt": "is not",
"it‚Äôd": "it would",
"it‚Äôd‚Äôve": "it would have",
"it‚Äôll": "it will",
"it‚Äôll‚Äôve": "it will have",
"it‚Äôs": "it is",
"let‚Äôs": "let us",
"ma‚Äôam": "madam",
"mayn‚Äôt": "may not",
"might‚Äôve": "might have",
"mightn‚Äôt": "might not",
"mightn‚Äôt‚Äôve": "might not have",
"must‚Äôve": "must have",
"mustn‚Äôt": "must not",
"mustn‚Äôt‚Äôve": "must not have",
"needn‚Äôt": "need not",
"needn‚Äôt‚Äôve": "need not have",
"o‚Äôclock": "of the clock",
"oughtn‚Äôt": "ought not",
"oughtn‚Äôt‚Äôve": "ought not have",
"shan‚Äôt": "shall not",
"sha‚Äôn‚Äôt": "shall not",
"shan‚Äôt‚Äôve": "shall not have",
"she‚Äôd": "she would",
"she‚Äôd‚Äôve": "she would have",
"she‚Äôll": "she will",
"she‚Äôll‚Äôve": "she will have",
"she‚Äôs": "she is",
"should‚Äôve": "should have",
"shouldn‚Äôt": "should not",
"shouldn‚Äôt‚Äôve": "should not have",
"so‚Äôve": "so have",
"so‚Äôs": "so as",
"that‚Äôd": "that would",
"that‚Äôd‚Äôve": "that would have",
"that‚Äôs": "that is",
"there‚Äôd": "there would",
"there‚Äôd‚Äôve": "there would have",
"there‚Äôs": "there is",
"they‚Äôd": "they would",
"they‚Äôd‚Äôve": "they would have",
"they‚Äôll": "they will",
"they‚Äôll‚Äôve": "they will have",
"they‚Äôre": "they are",
"they‚Äôve": "they have",
"to‚Äôve": "to have",
"wasn‚Äôt": "was not",
"we‚Äôd": "we would",
"we‚Äôd‚Äôve": "we would have",
"we‚Äôll": "we will",
"we‚Äôll‚Äôve": "we will have",
"we‚Äôre": "we are",
"we‚Äôve": "we have",
"weren‚Äôt": "were not",
"what‚Äôll": "what will",
"what‚Äôll‚Äôve": "what will have",
"what‚Äôre": "what are",
"what‚Äôs": "what is",
"what‚Äôve": "what have",
"when‚Äôs": "when is",
"when‚Äôve": "when have",
"where‚Äôd": "where did",
"where‚Äôs": "where is",
"where‚Äôve": "where have",
"who‚Äôll": "who will",
"who‚Äôll‚Äôve": "who will have",
"who‚Äôs": "who is",
"who‚Äôve": "who have",
"why‚Äôs": "why is",
"why‚Äôve": "why have",
"will‚Äôve": "will have",
"won‚Äôt": "will not",
"won‚Äôt‚Äôve": "will not have",
"would‚Äôve": "would have",
"wouldn‚Äôt": "would not",
"wouldn‚Äôt‚Äôve": "would not have",
"y‚Äôall": "you all",
"y‚Äôall‚Äôd": "you all would",
"y‚Äôall‚Äôd‚Äôve": "you all would have",
"y‚Äôall‚Äôre": "you all are",
"y‚Äôall‚Äôve": "you all have",
"you‚Äôd": "you would",
"you‚Äôd‚Äôve": "you would have",
"you‚Äôll": "you will",
"you‚Äôll‚Äôve": "you will have",
"you‚Äôre": "you are",
"you‚Äôve": "you have"
}

In [96]:
contractions_re = re.compile('(%s)' % '|'.join(cList.keys()))
def expand_contractions(s, contractions_dict=cList):
     def replace(match):
         return cList[match.group(0)]
     return contractions_re.sub(replace, s)

In [97]:
df['subject'] = df.subject.apply(lambda x: expand_contractions(x, contractions_dict=cList))

In [98]:
df.to_csv('spec_offer_train_cleaned.csv', index=False)